# Secret Local Settings
resume/config/postactivatesecret
resume/resume/resume/migrations/
*.pyc
*.ods*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/00_secrets.config
